/* Marta Cuccurullo */


body {
  background-color: #FCEACC;
    transition: all 0.4s ease-out;
}

.links {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
}

a {
  text-decoration: none;
}

.button {
  height: 50px;
  width: 150px;
  border: none;
  color: lightblue;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  justify-content: center;
}

.linkss {
  color: #EA9542;
}

.linkss:hover {
  color: #FFFFFF;
}


.button1:hover {
  background-color: #EA9542;
}

.button2:hover {
  background-color: #EA9542;
}

/* little button background */
input:checked + label {
	background-color: #EA9542;
}

/** here you can change the class applied to the body witht the theme switch **/
body.dark-theme {
	background: #333;
  color: white;
}

#peoplebackground {
  background-image: url('../assets/people_homepage.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 90% 90%;
  background-position: center;
  padding: 20%;
}
